* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));; */
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  width: 100%;
  min-height: 100vh;
}

.feature-container {
  /* border: solid 2px red; */
  display: grid;
  font-size: 1.5rem;
  font-weight: 600;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg)
    brightness(103%) contrast(103%);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.icon {
  width: 1.5rem;
  margin-left: 1rem;
}

.profile-img {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
}

/* ----------------------------------------HEADER-------------------------- */
.header {
  border: 2px solid black;
  grid-column: 2/4;
  grid-row: 1/2;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 15px 70px 10px 20px;
  gap: 25px;
}

.top-header-content {
  width: 90%;
  height: 65px;
  margin: 0 auto;
  display: grid;
  /* margin-top: 5px; */
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.top-header-right {
  width: 100%;
  grid-column: 1/2;
  display: relative;
  grid-template-rows: 1fr auto;
}

.top-header-right form {
  position: relative;
  height: 60px;
  display: grid;
  align-items: center;
}

.top-header-right form img {
  position: absolute;
  top: 10px;
  margin-top: 5px;
}

.top-header-right form input {
  position: absolute;
  top: 10px;
  left: 30px;
  margin-top: 5px;
}

.magnify {
  /* border: 2px solid purple; */
  width: 20px;
  height: 20px;
}

input {
  margin-bottom: 20px;
}

.top-header-right input {
  width: 70%;
}

.top-header-left {
  /* border: 3px blue dashed; */
  /* width: 45%; */
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: auto;
  grid-column: 2/3;
  height: 60px;
  justify-items: center;
  align-items: center;
}

.top-header-left .bell {
  width: 25px;
  height: 25px;
  grid-column: 1/2;
  margin: 0 auto;
}

.top-header-left .profile-img {
  border: 2px solid blue;
  width: 55px;
  height: 55px;
  grid-column: 2/3;
}

.top-header-left .profile-text {
  text-align: center;
  grid-column: 3/4;
}

/* -----------------------------------------Header buttom-------------------------  */
.buttom-header-content {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  gap: 30px;
}

/* ----------------------------------------SIDEBAR LEFT-------------------------- */
.sidebar-left {
  /* border: 2px solid red; */
  background-color: #1992d4ff;
  grid-column: 1/2;
  grid-row: 1/3;
}

.sidebar-left .logo-container {
  margin-left: 1rem;
  margin-bottom: 20px;
  /* display: grid; */
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-bottom: 3rem;
}

.sidebar-left .logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg)
    brightness(103%) contrast(103%);
  grid-row: 2/3;
  size: 1.5rem;
}
.sidebar-left .logo-text {
  grid-row: 2/3;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

.sidebar-left .features-1 {
  /* border: 1px solid black; */
  margin-bottom: 4rem;
}

.sidebar-left .features-2 {
  margin-bottom: 2rem;
  /* border: 1px solid black; */
}
.main-content {
  border: 2px solid green;
  grid-column: 2/3;
}

.sidebar-right {
  border: 2px solid blueviolet;
  grid-column: 3/4;
}
